body {
    background-color: white;
}

.map {
    height: 600px;
    border: 2px black solid;
}

.compact-popup .leaflet-popup-content-wrapper {
    border-radius: 5px;
}

.compact-popup .leaflet-popup-content{
    /* margin: 5px 7px; */
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.no-data-description {
    /* width: 250px; */
    font-size: 14px;
    color: #333;
    padding: 10px 14px;
    background-color: hsla(0, 0%, 100%, 0.8);
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
    border-radius: 5px;
    line-height: 120%;
    border: 1px solid grey;
}

.no-data-description h4 {
    margin: 0;
}

.no-data-description .description-block {
    margin-top: 5px;
}